<%= form_with(model: [@list,@task], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :task_title, "Task" %>
    <%= f.text_field :task_title %>
  </div>
  <div class="field">
    <%= f.label :task_description, "Description" %>
    <%= f.text_field :task_description %>
    <%= f.hidden_field :list_id, value: @list.id %>
  </div>
  <div class="field">
    <%= f.label :priority, "Priority Level" %>
    <p style="font-size: 8px">1 is highest, 5 is lowest</p>
    <%= f.select "priority", options_for_select( ['1','2','3','4','5'], @task.priority) %>
  </div>
  <div class="field">
    <%= f.submit nil,  class: "ui button" %>
  </div>
<%end%>