<%= form_with(model: [@list,@task], local: true, class: "ui form") do |f| %>
<% binding.pry%>
  <div class="field">
    <%= f.label :task_title, "Task" %>
    <%= f.text_field :task_title %>
  </div>
  <div class="field">
    <%= f.label :task_description, "Description" %>
    <%= f.text_field :task_description %>
    <%= f.hidden_field :list_id, value: @list.id %>
  </div>
  <div class="field">
    <%= f.submit nil,  class: "ui button" %>
  </div>
<%end%>