<h1>Edit <%= @task.task_title %></h1>
<%= form_with(model:[@list, @task], local:true, class:"ui form") do |f| %>
  <div class="field">
    <%= f.label :task_title %>
    <%= f.text_field :task_title, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :task_description %>
    <%= f.text_field :task_description, class: "input" %>
  </div>
  <div class="field">
      <%= f.label :priority, "Priority Level" %>
      <p style="font-size: 8px">1 is highest, 5 is lowest</p>
      <%= f.select "priority", options_for_select( ['1','2','3','4','5'], @task.priority) %>
  </div>
  <div class="field">
    <%= f.label :list_id, "Current status" %>
      <%= f.select "list_id", options_for_select( List.all.collect {|l| 
        [l.title, l.id] }, @list.id) %>
  </div>
  <%= f.submit nil, class: "ui button" %>
  <% end%>
  <%= link_to  "Delete This Task", list_task_path(@task.id), method: :delete, class: "ui button red" %>
