<nav class="ui menu">
    <%= link_to "Work Orders", work_orders_path, class: "item" %>
    <% if @work_order %>
    <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Add Tasks
          <i class="dropdown icon"></i>
          <div class="menu">
            <% @work_order.lists.each do |l| %>
            <div class="item"> <%= link_to  l.title , new_list_task_path(l.id), class: "ui div" %></div>
           <% end%>
    <% end%>
           <% if @task%>
           <%= link_to  "Back to Work Order", work_order_path(@list.work_order_id), class: "item" %>
           <% end%>
          </div>
        </div>
      </div>
    <div class="right menu">

      <p> <%= current_user ? current_user.email : nil %></p>
      <% if !@work_order && current_user%>
        <%= link_to "Create New Work Order", new_work_order_path, class: "item" %>
        <% end%>
        <%= current_user ? (link_to  "Log out", destroy_user_session_path, method: :delete, class: "item") : nil %>
      <%# if current_user %>
        <%# link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
      <%#else %>
        <%# link_to "Register", new_user_registration_path, class: "item" %>
        <%# link_to "Login", new_user_session_path, class: "item" %>
      <%# end %>
    </div>
  </nav>